

button .material-icons {
    margin-top: -14px;
}

.grid {
    width: 900px;
    height: 250px;
}

.rag-red {
    background-color: lightcoral;
}

.rag-green {
    background-color: lightgreen;
}

.rag-amber {
    background-color: lightsalmon;
}


/* footer */

#site-footer {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 12px;
    background: #222;
    color: #999;
}

md-select {
    max-width: 450px;
}

.help-block {
    font-size: 12px;
}

.md-toolbar-tools > a:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
