<!--
*
* Vue (affichage) dans le body de l'application
* Correspond à l'onglet utilisateur
*
-->


<div layout="row" layout-align="space-around">
    <div style="width:50px"></div>
    <md-button ng-click="onBtCreateUser()" class="md-raised">
        <md-icon class="mdi mdi-plus-circle"></md-icon>
        Nouvel utilisateur
    </md-button>
    <div style="width:50px"></div>
</div>


<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" ng-if="!editing">Nouvel utilisateur</h1>
        <h1 class="md-toolbar-tools" ng-if="editing">Modifier utilisateur</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form name="projectForm">
            <md-input-container>
                <label>Prénom</label>
                <input required name="prenom" id="prenom" ng-model="user.prenom" md-maxlength="30">
                <div ng-messages="projectForm.prenom.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                    <div ng-message="md-maxlength">Le prénom ne doit pas excéder plus de 30 caractères de long.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Nom</label>
                <input required name="nom" id="nom" ng-model="user.nom" md-maxlength="30">
                <div ng-messages="projectForm.nom.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                    <div ng-message="md-maxlength">Le nom ne doit pas excéder plus de 30 caractères de long.</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Email</label>
                <input required type="email" name="email" id="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                <div ng-messages="projectForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        L'email doit faire entre 10 et 100 caractères de long et doit ressembler à une adresse e-mail.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Mot de passe</label>
                <input required name="password" id="password" ng-model="user.password" md-maxlength="30" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}/">
                <div ng-messages="projectForm.password.$error">
                  <div ng-message-exp="['required', 'pattern', 'maxlength']">
                    Le mot de passe doit faire au minimum 8 caractères, au maximum 30 dont 1 majuscule, 1 chiffre et 1 caractère spécial.                  </div>
                  </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Role</label>
                <md-select name="role" id="role" ng-model="user.role" required>
                    <md-option value="1">DSI</md-option>
                    <md-option value="2">Membre DSI</md-option>
                    <md-option value="3">Administration</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Site de l'EPF</label>
                <md-select name="siteEPF" id="siteEPF" ng-model="user.siteEPF" required>
                    <md-option value="1">Sceaux</md-option>
                    <md-option value="2">Troyes</md-option>
                    <md-option value="3">Montpellier</md-option>
                </md-select>
            </md-input-container>
            <md-button ng-if="!editing" ng-click="createUser(user)" class="md-primary" ng-disabled="projectForm.$invalid">
                Enregistrer
            </md-button>
            <md-button ng-click="editUser(user)" ng-if="editing" class="md-primary" ng-disabled="projectForm.$invalid">
                Enregistrer les modifications
            </md-button>
            <md-button ng-click="closeSidebar()" class="md-warn">
                Annuler
            </md-button>

            <!-- <pre> {{ user | json }} </pre> -->
        </form>

    </md-content>
</md-sidenav>

<!-- <pre> {{ user | json }} </pre> -->




<md-content flex layout-padding>

    <md-list ng-cloak>

        <md-subheader class="md-no-sticky">Liste des utilisateurs</md-subheader>
        <md-list-item ng-repeat="user in users" ng-click="goToPerson(user, $event)" class="noright">
            <p>{{ user.nom }} {{ user.prenom }}</p>
            <md-button class="md-secondary" ng-click="onBtEditUser(user)">
                <md-icon class="mdi mdi-account-edit mdi-24px"></md-icon>
                Modifier
            </md-button>
            <md-button class="md-secondary" ng-click="deleteUser($event, user)">
                <md-icon class="mdi mdi-delete mdi-24px"></md-icon>
                Supprimer
            </md-button>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

    </md-list>

</md-content>


<!--
<pre> {{ users[0].id | json }} </pre>
<pre> {{ users[0].nom | json }} </pre>
<pre> {{ users[0].prenom | json }} </pre>

<pre> {{ users | json }} </pre>
-->
