<!--
*
* Vue (affichage) dans le body de l'application
* Correspond à l'onglet stock
*
-->

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <form>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Stock de matériel</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>

                    <md-input-container style="margin-right: 10px;">
                        <p>Permet de visualiser le matériel en stock chez la DSI de l'EPF et sur les trois sites</p>
                    </md-input-container>

                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                  <md-button ng-click="onBtCreateCategorie()" class="md-primary">
                      <md-icon class="mdi mdi-folder-plus mdi-24px"></md-icon>
                      Nouvelle catégorie
                  </md-button>
                    <md-button ng-click="onBtExport()" class="md-primary">
                        <md-icon class="mdi mdi-folder-upload mdi-24px"></md-icon>
                        Exporter vers CSV
                    </md-button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
</md-content>

<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" >Nouvelle catégorie</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form name="projectForm">
            <md-input-container>
                <label>Catégorie</label>
                <input required name="categorie" id="categorie" ng-model="categorie" md-maxlength="30">
                <div ng-messages="projectForm.categorie.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                    <div ng-message="md-maxlength">Le prénom ne doit pas excéder plus de 30 caractères de long.</div>
                </div>
            </md-input-container>

            <md-button ng-click="createCategorie(categorie)" class="md-primary" ng-disabled="projectForm.$invalid">
                Enregistrer
            </md-button>
            <md-button ng-click="closeSidebar()" class="md-warn">
                Annuler
            </md-button>

            <!-- <pre> {{ user | json }} </pre> -->
        </form>

    </md-content>
</md-sidenav>


<!--   <pre> {{ objets.response | json }} </pre> -->

<div ag-grid="gridOptions" style="width: 100%; height: 55%;" class="ag-theme-bootstrap"></div>

<!-- <pre> {{ oem1 | json }} </pre> -->

<!-- <pre> {{ materiels | json }} </pre> -->
