<!--
*
* Vue (affichage) dans le body de l'application
* Correspond à l'onglet accueil
*
-->

<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="65" layout="column">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">Bienvenue sur l'inventaire de la DSI de l'EPF de Sceaux</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
        </md-card>
    </div>
</md-content>
