<!--
*
* Vue (affichage) du corps correspondant à l'onglet alerte
*
-->

<md-content flex layout-padding>

    <md-list ng-cloak>

        <md-subheader class="md-no-sticky">
            <h5>Liste des alertes pour le prêt de matériel</h5></md-subheader>
        <md-list-item ng-repeat="pretAlerte in pretAlertes" ng-click="showHistPret($event, pretAlerte)" class="noright">
            <p>{{ pretAlerte.message }}</p>
            <md-button class="md-secondary" ng-click="deleteObjet($event, pretAlerte)">
                <md-icon class="mdi mdi-delete mdi-24px"></md-icon>
                matériel
            </md-button>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

    </md-list>

</md-content>

<md-content flex layout-padding>

    <md-list ng-cloak>

        <md-subheader class="md-no-sticky">
            <h5>Liste des alertes pour le stock de matériel</h5></md-subheader>
        <md-list-item ng-repeat="stockAlerte in stockAlertes" ng-click="showHistStock($event, stockAlerte)" class="noright">
            <p>{{ stockAlerte.message }}</p>
            <md-divider ng-if="!$last"></md-divider>
        </md-list-item>

    </md-list>

</md-content>

<!--
<pre> {{ pretAlertes | json }} </pre>
<pre> {{ stockAlertes | json }} </pre>
-->
