<!--
*
* Vue (affichage) du corps correspondant à la boite de dialogue : Historique de stock
*
-->

<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Historique de l'objet en stock</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div ag-grid="gridOptions" style="width: 100%; height: 100%;" class="ag-theme-bootstrap"></div>


                <!-- <pre> {{ historiqueStocks | json }} </pre> -->
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer()">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
