<!--
*
* Vue (affichage) dans le body de l'application
* Correspond à l'onglet matériel
*
-->

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card>
            <form>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Inventaire du matériel</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>

                    <md-input-container style="margin-right: 10px;">
                        <p>Permet de visualiser l'inventaire du matériel chez la DSI de l'EPF et sur les trois sites</p>
                    </md-input-container>

                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="onBtExport()" class="md-primary">
                        <md-icon class="mdi mdi-folder-upload mdi-24px"></md-icon>
                        Exporter vers CSV
                    </md-button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
</md-content>

<div ag-grid="gridOptions" style="width: 100%; height: 55%;" class="ag-theme-bootstrap"></div>

<!-- <pre> {{ objets | json }} </pre> -->
