<!--
*
* Vue (affichage) de la boite de dialogue de l'alerte lorsqu'il y a une erreur 
*
-->

<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Accès refusé</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <p>Vous n'avez pas la permission d'accéder à cette page</p>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Retour accueil
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
